<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'g.css') }}">
    <title>Document</title>
</head>
<body>
     
    <canvas height='80' width='80' id='example'>Обновите браузер</canvas>
    <canvas height='80' width='80' id='example'>Обновите браузер</canvas>
    <canvas height='80' width='80' id='example'>Обновите браузер</canvas>
    <canvas height='80' width='80' id='example'>Обновите браузер</canvas>
    <canvas height='80' width='80' id='example'>Обновите браузер</canvas>
		<script>
			var example = document.querySelectorAll("#example");
			    ctx     = example.getContext('2d');
			ctx.fillRect(0, 0, example.width, example.height);
		</script>
    <script src="{{ url_for('static', filename='js.js') }}"> </script>
     <script src="{{ url_for('static', filename='three.min.js') }}"></script>
</body>
</html>